NEO_4J_HOST=localhost
NEO_4J_BOLT_PORT=7687
NEO_4J_DATABASE=neo4j
NEO_4J_USER=neo4j
NEO_4J_PASS=your_neo4j_password

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=your_database
PG_USER=your_username
PG_PASS=your_password

EMBEDDING_MODEL_HOST=localhost
EMBEDDING_MODEL_PORT=11434
CHAT_MODEL_HOST=localhost
CHAT_MODEL_PORT=11434
